# ==========================================
# CONFIGURACIÓN DEL SERVIDOR - TIENDA NEÓN
# ==========================================
HOST=127.0.0.1
PORT=8000
DEBUG=True

# Base de Datos PostgreSQL
DATABASE_URL=postgresql://admin:admin@localhost:5433/tiendadb

# Webhooks & Automatizaciones (n8n / Meta WhatsApp)
N8N_WEBHOOK_URL=http://localhost:5678/webhook/nueva_orden
N8N_ESTADO_WEBHOOK_URL=http://localhost:5678/webhook/cambio_estado_orden

# Asistente IA de Moda (Microsoft Foundry / Azure AI Studio / ChatGPT Sol)
AZURE_AI_ENDPOINT=https://tu-recurso.services.ai.azure.com/api/projects/...
AZURE_AI_KEY=tu_clave_secreta_aqui
AZURE_AI_MODEL=gpt-5.6-sol-1

# Asistente IA de Moda Alternativo (Google Gemini API)
GEMINI_API_KEY=

# Seguridad y Clave Admin (Opcional)
ADMIN_SECRET_KEY=cyberneon_secret_2026

